In [1]:
"HELLO WORLD".lower()

'hello world'

In [2]:
"hello world".upper()

'HELLO WORLD'

In [3]:
"hello world".title()

'Hello World'

In [4]:
len("hello world")

11

In [10]:
import pandas as pd

df = pd.read_csv('C:/Users/02445/AssetsImportCompleteSample.csv')

#使用astype()資料類型轉成category，這樣做為了減少記憶體使用的大小
df["ASSETNUM"] = df["ASSETNUM"].astype("category")
df.head(10)

,ANCESTOR,ASSETNUM,ASSETTAG,ASSETTYPE,AUTOWOGEN,BINNUM,BUDGETCOST,CALNUM,CHANGEBY,CHANGEDATE,CHANGEPMSTATUS,CHILDREN,CONDITIONCODE,AS_DESCRIPTION
0,1,note031,44,IT4,0,56,0,88,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,90,Thinkpad notebook T61P
1,2,note032,55,IT5,0,57,err,89,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,NaN,91,Thinkpad notebook T61P
2,3,note033,66,IT6,abc,58,err,90,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,92,Thinkpad notebook T61P
3,4,note034,77,IT7,0,59,0,91,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,93,Thinkpad notebook T61P
4,5,note035,88,IT8,0,60,err,92,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,94,Thinkpad notebook T61P
5,6,note036,99,IT9,abc,61,0,93,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,95,Thinkpad notebook T61P
6,7,note037,110,IT10,abc,62,0,94,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,96,Thinkpad notebook T61P
7,8,note038,121,IT11,0,63,err,95,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,97,Thinkpad notebook T61P
8,9,note039,132,IT12,0,64,err,96,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,98,Thinkpad notebook T61P
9,10,note040,143,IT13,abc,65,0,97,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,99,Thinkpad notebook T61P

In [13]:
#讓資料使用title()這個方法

df["ASSETNUM"].str.title().head(10)

0    Note031
1    Note032
2    Note033
3    Note034
4    Note035
5    Note036
6    Note037
7    Note038
8    Note039
9    Note040
Name: ASSETNUM, dtype: object

In [15]:
#它是什麼資料類型

type(df["ASSETNUM"].str)

pandas.core.strings.StringMethods

In [16]:
df["ASSETNUM"].str.lower().head(3)

0    note031
1    note032
2    note033
Name: ASSETNUM, dtype: object

In [17]:
df["ASSETNUM"].str.upper().head(3)

0    NOTE031
1    NOTE032
2    NOTE033
Name: ASSETNUM, dtype: object

In [19]:
df["ASSETNUM"].str.len().head(3)

0    7
1    7
2    7
Name: ASSETNUM, dtype: int64

In [21]:
#更改資料

df["ASSETNUM"] = df["ASSETNUM"].str.title()
df.head()

,ANCESTOR,ASSETNUM,ASSETTAG,ASSETTYPE,AUTOWOGEN,BINNUM,BUDGETCOST,CALNUM,CHANGEBY,CHANGEDATE,CHANGEPMSTATUS,CHILDREN,CONDITIONCODE,AS_DESCRIPTION
0,1,Note031,44,IT4,0,56,0,88,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,90,Thinkpad notebook T61P
1,2,Note032,55,IT5,0,57,err,89,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,NaN,91,Thinkpad notebook T61P
2,3,Note033,66,IT6,abc,58,err,90,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,92,Thinkpad notebook T61P
3,4,Note034,77,IT7,0,59,0,91,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,93,Thinkpad notebook T61P
4,5,Note035,88,IT8,0,60,err,92,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,94,Thinkpad notebook T61P

In [22]:
"Hello world".replace("l","!")

'He!!o wor!d'

In [24]:
import pandas as pd

df = pd.read_csv('C:/Users/02445/AssetsImportCompleteSample.csv').dropna(how="all")
df["ASSETNUM"] = df["ASSETNUM"].astype("category")
df.head(3)

#使用replace()
df["ASSETNUM"] = df["ASSETNUM"].str.replace("note","Nobb")
df.head(3)

,ANCESTOR,ASSETNUM,ASSETTAG,ASSETTYPE,AUTOWOGEN,BINNUM,BUDGETCOST,CALNUM,CHANGEBY,CHANGEDATE,CHANGEPMSTATUS,CHILDREN,CONDITIONCODE,AS_DESCRIPTION
0,1,Nobb031,44,IT4,0,56,0,88,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,90,Thinkpad notebook T61P
1,2,Nobb032,55,IT5,0,57,err,89,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,NaN,91,Thinkpad notebook T61P
2,3,Nobb033,66,IT6,abc,58,err,90,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,92,Thinkpad notebook T61P

In [26]:
# .str.contains()

df["ASSETNUM"].str.lower().str.contains("33").head()

0    False
1    False
2     True
3    False
4    False
Name: ASSETNUM, dtype: bool

In [32]:
# .str.startswith()
#資料內是否開頭是括弧內

mask = df["ASSETNUM"].str.lower().str.startswith("nobb")
df[mask].head()

,ANCESTOR,ASSETNUM,ASSETTAG,ASSETTYPE,AUTOWOGEN,BINNUM,BUDGETCOST,CALNUM,CHANGEBY,CHANGEDATE,CHANGEPMSTATUS,CHILDREN,CONDITIONCODE,AS_DESCRIPTION
0,1,Nobb031,44,IT4,0,56,0,88,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,90,Thinkpad notebook T61P
1,2,Nobb032,55,IT5,0,57,err,89,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,NaN,91,Thinkpad notebook T61P
2,3,Nobb033,66,IT6,abc,58,err,90,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,92,Thinkpad notebook T61P
3,4,Nobb034,77,IT7,0,59,0,91,MAXADMIN,2011-09-22T17:11:45-07:00,NaN,0.0,93,Thinkpad notebook T61P
4,5,Nobb035,88,IT8,0,60,err,92,MAXADMIN,2011-09-22T17:11:45-07:00,0.0,0.0,94,Thinkpad notebook T61P

In [35]:
#Split Strings by Characters 切割字元

import pandas as pd

df = pd.read_csv('C:/Users/02445/AssetsImportCompleteSample.csv').dropna(how="all")
df["ASSETNUM"] = df["ASSETNUM"].astype("category")
df.head(3)

"Hello my name is jiayi".split(" ")

df["ASSETNUM"].str.split("0").head()

0    [note, 31]
1    [note, 32]
2    [note, 33]
3    [note, 34]
4    [note, 35]
Name: ASSETNUM, dtype: object

In [37]:
#分開之後我們就可以像list一樣把內容分別取出來

df["ASSETNUM"].str.split("0").str.get(0).str.title().head()

0    Note
1    Note
2    Note
3    Note
4    Note
Name: ASSETNUM, dtype: object